<main-layout [loading]="!!(loading$ | async)">
  <users-sidebar left-panel></users-sidebar>
  <div class="container">
    <table class="table table-borderless align-middle">
      <tbody>
        <tr *ngFor="let user of users$ | async">
          <td>
            <img
              width="64"
              height="64"
              src="/icon/{{ user?.userName }}"
              class="img-thumbnail"
              alt="icon"
            />
          </td>
          <td>{{ user?.fullName }}</td>
          <td>{{ user?.email }}</td>
          <td>{{ user?.phoneNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main-layout>
