<div class="header">
  <header-layout
    title="user manager console"
    username="username"
    icon="/assets/logo192.png"
  ></header-layout>
</div>
<div class="left-panel border-end">
  <ng-content select="[left-panel]"></ng-content>
</div>
<div class="right-panel border-start">
  <ng-content select="[right-panel]"></ng-content>
</div>
<div class="main">
  <ng-content></ng-content>
</div>
<div class="footer">
  <footer class="border-top text-muted">{{ version }}@{{ author }}</footer>
</div>
