<div class="header">
  <header-layout 
    title="user manager console"
    [username]="getUserName(ticket$ | async)"
    [icon]="(ticket$ | async)?.userName"
  ></header-layout>
</div>
<div class="left-panel border-end">
  <ng-content select="[left-panel]"></ng-content>
</div>
<div class="right-panel border-start">
  <ng-content select="[right-panel]"></ng-content>
</div>
<div class="main">
  <ng-content *ngIf="!loading$; else content"></ng-content>
  <ng-template #content>
    <app-loading
      style="display: flex; align-items: center; justify-content: center"
    ></app-loading
  ></ng-template>
</div>
<div class="footer">
  <footer class="border-top text-muted">{{ version }}@{{ author }}</footer>
</div>